<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Tests{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ base.css }}" />
        {% endstylesheets %}
        <style>
            body {
                padding: 10%;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            }

            h1 {
                text-align: center;
            }

        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
    <div>

        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
            <span>Facebook</span>
        </a>
        <br>
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
            <span>Google</span>
        </a>
        <br>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{  path('fos_user_security_login') }}">
                {{ 'login'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
    </div>

    {% for type, message in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
